extends layout 
include mixins/_post 
block content 
    .message.text-center.bg-primary#homeMessage 
        button.close(onclick='removeMessage()') &times;
        h1 THE CHATTERBOX'S FIRST BIRTHDAY
        p Join us and celebrate The Chatterbox's 1st birthday this July 4th! Get a chance to win a custom badge giveaway to any random user, see the new v1.3 update, and see how The Chatterbox was made!! 
    h1.text-center The Chatterbox Home
    form(action="/post", method="post") 
        input(type="hidden", name="user" value=user.username)
        input(type="hidden", name="userPFP" value=user.profile_picture)
        input(type="hidden", name="verified" value=`${user.isVerified}`)
        .input-group
            input.form-control.bg-dark.text-light.mr-2(required autocomplete="off" style="font-size: 1.3rem; border: none; border-bottom: 3px black solid;" type="text", name="message" placeholder="Talk about something" maxlength='300')
            button.btn.btn-primary(type="submit") Post
    .profile-posts
        each post in posts 
            .post-wrapper-wrapper
                +post(post)
    -var pageB = parseInt(page) - 1;
    -var pageA = parseInt(page) + 1;
    .text-center
        if page != 1 && page != 2
            a.nextLastPage.btn.btn-primary(href=`/home/${pageB}`) Last page
        if page == 2
            a.nextLastPage.btn.btn-primary(href=`/home`) Last page 
        if nextPage 
            a.nextLastPage.btn.btn-primary(href=`/home/${pageA}`) Next