mixin post(post, pinned={})
    .post-wrapper
        if pinned === 'asdf'
            small.fas.fa-thumbtack
            b &nbsp; Pinned post
            br.mb-2
        a(href=`/user/${[post.user]}`)
            img.post-pfp(src=`https://res.cloudinary.com/dmftho0cx/image/upload/${post.userPFP}`)
            span &nbsp; &nbsp;
            h3=`@${post.user}`
            if post.verified 
                i.fas.fa-check-circle 
        -let readableDate = new Date(post.date).toString();
        -let a = readableDate.split(" ")
        -b = a.splice(1, 3)
        -let styleDate = b.join(" ")
        span.post-date=styleDate
        br
        a(href= (post.mainBox ? `/user/username/post/${post.mainBox}?c=${post._id}` : `/user/${post.user}/post/${post._id}`)) 
            p.wrap=post.message
        if post.rt && post.rt.message !== undefined
            a(href=`/user/${post.rt.user}/post/${post.rt.post_id}`)
                .post-wrapper.rt-wrapper
                    img.post-pfp(src=`https://res.cloudinary.com/dmftho0cx/image/upload/${post.rt.userPFP}`)
                    span &nbsp;
                    h3=`@${post.rt.user}`
                    br
                    p.wrap=post.rt.message
        .float-right
            form.like-form.mb-0.mr-4(action=`/${post._id}/like`, method="post") 
                if post.user != user.username
                    input(type='hidden' name='notif' value=1)
                    input(type="hidden", name="to" value=`${post.user}`)
                    input(type="hidden", name="from" value=`${user.username}`)
                    input(type="hidden", name="link" value=`/user/${post.user}/post/${post._id}`)
                    input(type="hidden", name="type" value=`like`)
                if !post.likes.includes(user.username)
                    button.fas.fa-heart.likable(type="submit")=` ${post.likes.length}`
                else if post.likes.includes(user.username)
                    button.fas.fa-heart.liked(type="submit")=` ${post.likes.length}`
            if post.comments != null
                span.fas.fa-comment-alt=` ${post.comments}`
            else if post.replies 
                span.fas.fa-comment-alt=` ${post.replies.length}`
        if user.username == post.user || user.isAdmin
            if !post.mainBox
                form(action=`/${post._id}/delete`, method="post" onsubmit="return confirm('Do you really want to delete this box? This action is irreversible!');") 
                    input(type="hidden", name="postOwner" value=post.user)
                    input(type="hidden", name="currentUser" value=user.username)
                    button.fas.fa-trash(type="submit")